<div class="services">
    <div class="item custom-cursor">
        <div class="text">
            Web & Mobile app
        </div>
        <img src="assets/ic_arrow_down.png">
    </div>
    <div class="item custom-cursor">
        <div class="text">
            Product Strategy
        </div>
        <img src="assets/ic_arrow_down.png">
    </div>
    <div class="item custom-cursor">
        <div class="text">
            Product Design
        </div>
        <img src="assets/ic_arrow_down.png">
    </div>
    <div class="item custom-cursor">
        <div class="text">
            Team Augmentation
        </div>
        <img src="assets/ic_arrow_down.png">
    </div>
</div>