<div class="max-width padding-standard hero">
    <div class="title">
        <img class="decor" src="assets/decor.png">
        Amplifying Tech Companies Through Powerful <span class="creative">Creative</span>
    </div>
    <div class="text">
        Lorem ipsum dolor sit amet consectetur. Aliquam scelerisque facilisi at amet elementum volutpat odio at. Sem quis in aliquam est vulputate bibendum habitasse sit. Mi purus lobortis blandit duis gravida. Proin elementum potenti viverra felis tortor aliquet blandit.
    </div>
    <div class="cta">
        <div class="button-accent grow-proj  custom-cursor">
            Grow my project
        </div>
        <app-image-stack [images]="this.clientImgaes" class="images"></app-image-stack>
    </div>
</div>>