<div class="margin-standard max-width capabilities">
    <div class="title">
        CAPABILITIES
    </div>
    <div class="items">
        <div class="item">
            <div class="header">
                <img src="assets/icon3.png">
                <div class="number">
                    01
                </div>
            </div>
            <div class="title">
                Innovative Solutions
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur. Parturient morbi tristique feugiat nunc fermentum fermentum congue blandit nunc. Mattis sollicitudin ornare in odio.
            </div>
        </div>
        <div class="item">
            <div class="header">
                <img src="assets/icon2.png">
                <div class="number">
                    02
                </div>
            </div>
            <div class="title">
                Long-Term Partnership
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur. Parturient morbi tristique feugiat nunc fermentum fermentum congue blandit nunc. Mattis sollicitudin ornare in odio.
            </div>
        </div>
        <div class="item">
            <div class="header">
                <img src="assets/icon1.png">
                <div class="number">
                    03
                </div>
            </div>
            <div class="title">
                Business Impact
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur. Parturient morbi tristique feugiat nunc fermentum fermentum congue blandit nunc. Mattis sollicitudin ornare in odio.
            </div>
        </div>
    </div>
</div>
