<app-header></app-header>
<app-hero class="hero"></app-hero>
<div class="glows" style="right: 0;"></div>
<app-get-in-touch-marqee></app-get-in-touch-marqee>
<div class="max-width margin-standard company">
    <div>
        COMPANY.
    </div>
    <div class="company-text">
        <div class="company-title">
            Lorem ipsum dolor sit amet consectetur. aessLoremimpsim dolor sit. Lorem ispum dolor sit
        </div>
        <div class="company-string">
            Lorem ipsum dolor sit amet consectetur. Aliquam scelerisque facilisi at amet elementum volutpat odio at. Sem quis in aliquam est vulputate bibendum habitasse sit. Mi purus lobortis blandit duis gravida. Proin elementum potenti viverra felis tortor aliquet blandit.
        </div>
    </div>
</div>
<div class="services margin-standard">
    <div class="services-title">
        OUR SERVICES.
    </div>
    <app-services></app-services>
</div>
<app-capabilities></app-capabilities>
<div class="glows" style="right: 0;"></div>
<app-call-to-action></app-call-to-action>
<app-footer></app-footer>