<div class="max-width footer">
    <div class="bar"></div>
    <div class="top margin-standard">
        <div class="left">
            <div class="title">
                Digital Agency
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur. Aliquam scelerisque facilisi at amet elemen.
            </div>
            <div class="socials">
                <img src="assets/instagram.png">
                <img src="assets/linkedin.png">
            </div>
        </div>
        <div class="right">
            <div class="column1">
                <div class="title-small">CONTACT</div>
                <div class="text"> hellocompanyname.com+323 323442 54332</div>
            </div>
            <div class="separator"></div>
            <div class="column2">
                <div class="title-small">LINKS</div>
                <div class="text">Link One, Link Two
                    Link Three</div>
            </div>
        </div>
    </div>
    <div class="bottom margin-standard">
        <div class="terms">
            <div>Privacy Policy</div>
            <div>Terms of Service</div>
            <div>Cookies Settings</div>
        </div>
        <div class="copyright">
            © 2024 Company. All rights reserved.
        </div>
    </div>
</div>