<div class="max-width padding-standard header">
    <div class="title">
        Digital Agency
    </div>
    <div class="menu">
        <div class="button-link custom-cursor">About Us</div>
        <div class="button-link custom-cursor">Services</div>
        <div class="button-link custom-cursor">Capabilities</div>
        <div class="button-link custom-cursor">Portfolio</div>
        <div class="button-link custom-cursor">Testimonials</div>
        <div class="button-accent custom-cursor">Let’s Talk</div>
    </div>
</div>